{% extends "base.html" %}
{% block content %}
<h1>{% if product %}تعديل منتج{% else %}إضافة منتج{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <label>صور المنتج:</label>
  <input type="file" name="images" multiple>
  <button type="submit">حفظ</button>
</form>
{% if images %}
  <h3>الصور الحالية:</h3>
  <ul>
    {% for img in images %}
      <li><img src="{{ img.image.url }}" alt="{{ img.alt_text }}" width="100"></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}